* {
    background-image: url(../images/background\ .jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 20px 35px;
    background-image: url(../images/banner1.png);
    height: 312px;
    width: 1298px;
}

header nav {
    float: center;
    margin: 7px 0;
}

header nav ul li {
    margin: 0 30px;
    font-size: x-large;
    color: plum;
    display: inline;
}

header nav ul li:hover {
    color:aqua;
}

#Xie {
    height: 300px;
    border-radius: 50%;
    position: relative;
    float: right;
}

#navigation {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

#navigation li {
    display: inline-block;
    color: rgb(157, 116, 233);
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
}

#navigation li:hover {
    color:aqua;
}

.aside {
    display: inline-block;
    color: rgb(157, 116, 233);
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    font-weight: bold;
    text-transform: uppercase;
    
}

#Buddy {
    padding: auto;
}